<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demos.example.code.tkmybaits.mapper.TestMapper">
<!-- user使用别名 -->
<insert id="insertUser" parameterType="user">
	<selectKey keyProperty="id" resultType="int" order="BEFORE">
		select Q_SQE_TEST_ID.nextval as id from dual
	</selectKey>
	insert into TB_USER(id,name,sex,age)values(#{id},#{name},#{sex},#{age})
</insert>
</mapper>	
